body {
    background: lightblue;
    text-align: center;
}
button {
    background: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointing;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}
